:root {
  --red: #B26868;
  --white: #FAF3F0;
  --dark: #2C1A1A;
  --black: #1C1C1C;
}

::selection {
  background: var(--red);
  color: var(--dark);
}

html,
body {
  height: 100%;
  background-color: var(--black);
}

header {
  background-color: var(--red);
  min-height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0rem;
  width: 100%;
}

header a,
header p {
  color: var(--white);
  margin: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
}

header p {
  color: var(--white);
}

nav a {
  text-decoration: none;
  color: var(--white);
  margin-left: 1rem;
  transition: color 0.2s;
}

nav a:hover {
  color: var(--dark);
}

nav a.active {
  font-weight: bold;
  color: var(--dark);
}


.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  background-color: var(--black);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.page-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 4rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.paragraph {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: 14px;
  margin-left: 8rem;
  margin-right: 8rem;
}

#left {
  margin-left: 2rem;
  font-weight: 800;
  font-size: 1.5rem;
}

#right {
  margin-right: 2rem;
}

h1,
p {
  color: var(--white);
}

p {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.4;
}

.photo-grid {
  column-count: 2;
  column-gap: 16px;
}

.photo-item {
  break-inside: avoid;
  margin-bottom: 16px;
  width: 100%;
}

.photo-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.photo-item img:hover {
  transform: scale(1.05);
}

.photography-menu {
  margin-bottom: 1rem;
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
}

button {
  background-color: var(--dark);
  color: var(--white);
  border: 2px solid var(--red);
  border-radius: 8px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
}

button:hover {
  background-color: var(--red);
  color: var(--dark);
  border-color: var(--white);
}

button.active {
  background-color: var(--red);
  color: var(--white);
  border-color: var(--white);
}

.instagram-widget {
  max-width: 400px;
  height: 80vh;
  margin: 2rem auto;
  flex: 1;
  background-color: var(--white);
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  overflow: auto;
  border-radius: 8px;
}

.instagram-widget iframe {
  width: 100%;
  height: 3600px;
  border: none;
}
